@font-face {
  font-family: "Raleway";
  src: url("../fonts/Body_text/Raleway-MediumItalic.ttf"), url("../fonts/Body_text/Raleway-Regular.ttf"), url("../fonts/Body_text/Raleway-SemiBold.ttf");
}
@font-face {
  font-family:"KG Second Chances Solid";
  src:url("../fonts/Main_font/KGSecondChancesSolid.eot") format("eot"),url("../fonts/Main_font/KGSecondChancesSolid.woff") format("woff"),url("../fonts/Main_font/KGSecondChancesSolid.ttf") format("truetype");font-weight:normal;font-style:normal;}

html
{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}
body
{
  margin: 0;
  width: 100%;
  padding: 0;
}
/* BOTONES */
.btn-primary 
{
  background-color: #aeda23;
  color: #59164a;
  font-family: "KG Second Chances Solid";
  font-size: 9pt;
  height: 25px;
  padding: 2.5px;
  border-radius: 10px;
  border: none;
}
.btn-secundary 
{
  background-color: #aa186b;
  color: #fff;
  font-family: "KG Second Chances Solid";
  font-size: 9pt;
  height: 25px;
  padding: 2.5px;
  border-radius: 10px;
  border: none;
}
.btn-warning
{
  background-color: #f49117;
  color: #aa186b;
  font-family: "KG Second Chances Solid";
  font-size: 9pt;
  height: 25px;
  padding: 2.5px;
  border-radius: 10px;
  border: none;
}
/* BANNER */
.head-banner
{
  background-color: #67cbba;
  height: 40px;
  width: 100%;
}
.head-banner a .logo 
{
  width: 150px;
}
.body-banner 
{
  background-image: url(../img/banner/banner-1920x409-text.jpg);
  background-size: 191%;
  width: 100%;
  height: 150px;
  
}

.foot-banner 
{
  background-color: #59164a;
  color: white;
  font-family: "KG Second Chances Solid";
  height: 70px;
  width: 100%;
  font-size: 9pt;
  align-items: center;
  align-content: center;
}
.foot-banner p
{
  margin: 0;
  text-align: center;
  padding: 5px;
}
.foot-banner p button
{
  margin-left: 15px;
}

/* NOSOTROS */
.nosotros
{
  width: 100%;
}
.mision 
{
  width: 100%;
  background-image: url(../img/t-bg.png);
  background-size: 100px 100px;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;

}
.col2 
{
  flex: 50%;
}
.mision button
{
  margin-top: 25px;
  margin-left: 25px;
  font-size: 14pt;
  padding: 10px;
  height: 40px;
  border-radius: 18px;
}
.mision ul 
{
  list-style-type: none;
  padding: 3px;
}
.mision ul li
{
  font-family: "KG Second Chances Solid";
  font-size: 10pt;
  color: #59164a;
  background: url('../img/Asset-01.png') no-repeat left top;
  background-size: 40px;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
}
.mision .video 
{
  padding: 20px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 85%;
  height: 300px;
  background-color: #393536;
}
.que-es 
{
  width: 100%;
  background-color: #4bc2b6;
  display: flex;
  flex-direction: row;
}
.que-es button
{
  font-size: 14pt;
  padding: 10px;
  margin: 20px;
  height: 40px;
  border-radius: 20px;
}
.que-es p
{
  margin: 20px;
  color: #fff;
}
.que-es img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* CURRICULO */
.curriculo
{
  background-color: #aa186b;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.curriculo button
{
  padding: 10px;
  margin-top: 15px;
  font-size: 14pt;
  padding: 10px;
  height: 40px;
  border-radius: 18px;
}
.col3
{
  flex: 33%;
  text-align: center;
  align-items: center;
  align-content: center;
}
.curriculo .col3 .cur-sec
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.curriculo .col3 p
{
  margin: 10px;
  padding: 5px;
}

/*para moviles*/
@media (max-width: 800px) {
  .curriculo, .mision, .que-es
  {
    flex-direction: column;
  }
}
/* para desktop */
@media (min-width: 801px){
  .head-banner
  {
    height: 66px;
  }
  .head-banner a .logo
  {
    width: 238px;
  }
  .body-banner 
  {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 420px;
  }
  .foot-banner p 
  {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 16pt;
  }
  .foot-banner p button 
  {
    font-size: 16pt;
    height: 45px;
    padding: 10px;
    margin-left: 50px;
    border-radius: 20px;
  }
  .que-es p 
  {
    margin-left: 90px;
  }
  .mision button 
  {
    margin-left: 75px;
    height: 50px;
    font-size: 16pt;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 27px;
  }
  .mision ul 
  {
    margin-left: 90px;
    padding-right: 100px;
  }
  .mision ul li
  {
    background-size: 75px;
    height: 50px;
    padding-left: 75px;
    padding-top: 15px;
  }
  .mision .video 
  {
    margin-top: 10%;
    width: 66%;
    margin-right: 20%;
  }
}

/* SLIDER de w3schools */
/* Slideshow container */
.slider-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slider {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}